In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
file_path = 'C:/python-data-analysis-master/python-data-analysis-master/data/drinks.csv'
drinks = pd.read_csv(file_path)
drinks['continent'] = drinks['continent'].fillna('OT')

In [4]:
# each continent's wine_servings
drinks['wine_servings_cont_avg'] = drinks.groupby('continent')['wine_servings'].transform(np.mean)

drinks[['country', 'continent', 'wine_servings_cont_avg']].sample(5).head()

              country continent  wine_servings_cont_avg
152        Seychelles        AF               16.264151
180           Ukraine        EU              142.222222
158           Somalia        AF               16.264151
131  Papua New Guinea        OC               35.625000
170         Macedonia        EU              142.222222

In [7]:
# each country's total servings
drinks['total_servings'] = drinks['beer_servings'] + drinks['wine_servings'] + drinks['spirit_servings']
drinks[['country', 'beer_servings', 'wine_servings', 'spirit_servings', 'total_servings']].sample(5).head()

,country,beer_servings,wine_servings,spirit_servings,total_servings
151,Serbia,283,127,131,541
54,El Salvador,52,2,69,123
53,Egypt,6,1,4,11
32,Canada,240,100,122,462
35,Chile,130,172,124,426

In [6]:
# country that consume the most spirit among the continents that consume drinks less than averege
total_mean = drinks.total_litres_of_pure_alcohol.mean()
continent_mean = drinks.groupby('continent').total_litres_of_pure_alcohol.mean()
continent_under_mean = continent_mean[continent_mean <= total_mean].index.tolist()
df_continent_under_mean = drinks.loc[drinks.continent.isin(continent_under_mean)]

most_spirit_under_mean = df_continent_under_mean.loc[df_continent_under_mean['spirit_servings'].idxmax()]

most_spirit_under_mean['country']

'Russian Federation'

In [8]:
# alcohol rate to drink consumption
drinks['alcohol_rate'] = drinks['total_litres_of_pure_alcohol'] / drinks['total_servings']
drinks['alcohol_rate'] = drinks['alcohol_rate'].fillna(0)

drinks['alcohol_rate_rank'] = drinks['alcohol_rate'].rank(ascending=False)
drinks['alcohol_rate_rank'] = drinks['alcohol_rate_rank'].apply(np.floor)
drinks.loc[drinks['country'] == "South Korea"].alcohol_rate_rank

138    15.0
Name: alcohol_rate_rank, dtype: float64

In [9]:
# each continent's alcohol rate to drink consumption
continent_sum = drinks.groupby('continent').sum()
continent_sum['alcohol_rate_continent'] = continent_sum['total_litres_of_pure_alcohol'] / continent_sum['total_servings']
continent_sum = continent_sum.reset_index()
continent_sum = continent_sum[['continent', 'alcohol_rate_continent']]

drinks = pd.merge(drinks, continent_sum, on='continent', how='outer')

drinks[['country', 'continent', 'alcohol_rate_continent']].sample(5).head()

        country continent  alcohol_rate_continent
168       Chile        SA                0.017909
28        Qatar        AS                0.020293
117  Madagascar        AF                0.031970
66        Italy        EU                0.018392
3        Bhutan        AS                0.020293